<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">


    <bean id="engine" class="org.bm.rules.impl.ProceduralEngine" />

    <bean id="test-Entry" class="org.bm.rules.impl.StringEntry">
        <constructor-arg>
            <value type="java.lang.String">Bonjour, je suis une phrase de test !</value>
        </constructor-arg>

        <!--name="entry" value="Bonjour, je suis une phrase de test !" />-->
    </bean>

    <bean id="test-RuleLoader" class="org.bm.rules.impl.GroovyRulesLoader">
        <constructor-arg>
            <list>
                <ref bean="groovyClassDirectories"/>
            </list>
        </constructor-arg>
    </bean>

    <bean id="groovyClassDirectories" class="java.io.File">
        <constructor-arg>
            <value type="java.lang.String">src/main/resources/rules</value>
        </constructor-arg>
    </bean>

</beans>