<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">


    <bean id="engine" class="org.bm.rules.impl.ProceduralEngine"/>

    <bean id="groovyClassDirectories" class="java.io.File">
        <constructor-arg>
            <value type="java.lang.String">src/main/resources/rules</value>
        </constructor-arg>
    </bean>

</beans>